section#aside{
}

section#aside li{
  list-style-type: none;

  padding: 70px 0 7px 30px;}

  section#aside #menu {
    margin-left: 320px;

  }

section#aside img {
      margin-top: 30px;

}
header img {
  margin-top: 30px;
  margin-left: 20px;
}
  /* 이미지 체크박스 */
  .menu input[type=checkbox]{
    display:none;
  }
  .menu input[type=checkbox]+label{
    padding-left: 25px;

    background-repeat:no-repeat;
  }
  .menu input[type=checkbox]+label>span{
    font-weight: bold;
  }
  .menu input[type=checkbox]:checked+label{

  }

  /*메뉴 목록*/

  .menu .menuitems{
    width: 200px;
      list-style: none;
      display: none;
      background-image: url("../img/aside_menu.png");
      background-repeat:no-repeat;
      width: 387px;
      height: 1273px;

  }

  .menu .menuitems li{
    padding: 5px;
  }

  .menu .menuitems li a{
    text-decoration: none;
  }

  /* 메뉴 펼팀 - 체크박스 체크되면 메뉴목록 표시 */
  .menu input[type=checkbox]:checked~.menuitems{
    display: block;
    background-image: url("../img/aside_menu.png");
    background-repeat:no-repeat;
    width: 387px;
    height: 1273px;}
